<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hakk覺nda Sayfas覺</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8y2R7yJmlG8BcwZ8XeYj1YioavB-oeqKv-g&s">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Bu bir About HBS sayfas覺d覺r...</p>
            <img class="aboutImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8y2R7yJmlG8BcwZ8XeYj1YioavB-oeqKv-g&s">
        </div>
        {{>footer}}
    </body>
</html>


