<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/25/25231.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Bu bir Help HBS sayfasıdır...</p>
        </div>
        {{>footer}}
    </body>
</html>