<header>
    <nav>
        <h1>{{title}}</h1>
        <a href="/">Ana Sayfa</a>
        <a href="/about">Hakkında</a>
        <a href="/help">Yardım</a> 
        <a href="/weather">Hava Durumu</a>       
    </nav>
</header>